{% extends 'shared/base.html' %}
{% block idBody%}home-body{% endblock %}
{% block content %}
	<div class="global-home">
		<div class="global-home-start">
			<div class="home-start">
				<div class="home-start-box">
					<h2 class="home-start-box-title default-title">
						Tenha seu Escritório Contábil na Nuvem
					</h2>
					<p class="home-start-box-description default-description">
						O NF-Stock é um sistema 100% web capaz de buscar, gerenciar e armazenar documentos fiscais de diversos modelos.
					</p>
					{% if user.is_authenticated %}
						<p class="home-start-box-call">
							<strong>Assine seu plano agora!</strong>
						</p>
						<a href="/checkout" class="home-start-box-button default-button" title="Assinar">
							Assinar
						</a>
					{% else %}
						<p class="home-start-box-call">
							<strong>Faça seu cadastro e assine!</strong>
						</p>
						<a href="/cadastro" class="home-start-box-button default-button" title="Cadastre-se">
							Cadastre-se
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="global-home-main">
			<div class="home-main">
				<div class="home-main-planos">
					<h3 class="home-main-planos-title default-title">
						Conheça nossos planos
					</h3>
					<p class="home-main-planos-description default-description">
						Confira qual dos nossos planos pode melhor atender a sua demanda!
					</p>
					<div class="home-main-planos-box">
						{% for plano in planos %}
							<div class="home-main-planos-box-item">
								<p class="home-main-planos-box-item-title box-title"><strong>{{plano.nome}}</strong></p>
								<p class="home-main-planos-box-item-description box-description">{{plano.descricao}}</p>
								<p class="home-main-planos-box-item-price">R$ {{plano.valor}}</p>
							</div>
						{% endfor %}
					</div>
					{% if user.is_authenticated %}
						<p class="home-main-planos-call">
							<strong>Faça sua assinatura!</strong>
						</p>
						<a href="/checkout" class="home-start-box-button default-button" title="Assine">
							Assine
						</a>
					{% else %}
						<p class="home-main-planos-call">
							<strong>Faça seu cadastro e assine!</strong>
						</p>
						<a href="/cadastro" class="home-start-box-button default-button" title="Cadastre-se">
							Cadastre-se
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="global-home-call">
			<div class="home-call">
				<div class="home-call-left">
					<h3 class="home-call-title default-title">
						Fale com um atendente
					</h3>
					<p class="home-call-description default-description">
						Preencha o formulário ao lado e em breve um de nossos atendentes entrará em contato!<br/><br/>
						Se você preferir, pode entrar em contato diretamente com nossas central de atendimento no telefone <strong>0800-704-1418</strong>.
					</p>
				</div>
				<div class="home-call-right">
					<form id="form-contato" class="home-call-form" method="POST">
						{% csrf_token %}
						<p class="input-box">
							<label for="nome">Nome*</label>
							<input type="text" id="nome" name="nome" placeholder="Digite seu nome" title="Digite seu nome"/>
						</p>
						<p class="input-box">
							<label for="telefone">Telefone*</label>
							<input type="tel" id="telefone" name="telefone" placeholder="Digite seu telefone" title="Digite seu telefone"/>
						</p>
						<input type="submit" id="submit-form" class="home-call-form-button default-button" value="Requisitar atendimento" title="Requisitar atendimento"/>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}