{% extends "admin/change_list.html" %}
{% block object-tools-items %}

    {{ block.super }}
    <li>
        <a href="{% url 'admin_export_users' %}" class="addlink">Exportar CSV</a>
    </li>

{% endblock %}