/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 12px;
	font-family: arial;
	color:#525252;
}
input, textarea, select{
	font-family: arial;
	font-size: 12px;
}
:focus {
	outline: 0;
}
a{
	color: #525353;
}
a:hover{
	color: #ffc604;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clear {
	display: inline-table;
}
* html .clear {
	height: 1%;
}
.clear {
	display: block;
}
strong {
	font-weight: bold;
}
em {
	font-style:italic;
}
hr{
	background: none repeat scroll 0 0 #000000;
    border: medium none;
    height: 1px;
}