<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="{{LANGUAGE_CODE}}">

<head>
	<title>NF-Stock - Soluções na Nuvem</title>
	<!--METAS-->
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<meta name="author" content="Bruno B. Lima" />
	<meta name="title" content="NF-Stock - Soluções na Nuvem" />
	<meta name="description" content="Trazendo para você as melhores soluções para seu negócio." />
	<meta name="keywords" content="NF-Stock, NFe, Sistemas, soluções ficais, fiscal, nuvem, sistema online" />
	<meta name="language" content="pt-br" />
	<meta name="robots" content="All" />
	<meta name="rating" content="General" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

	<!--FAVICON-->
	<link href="/media/static/img/favicon.ico" rel="shortcut icon">

	<!--CSS/LESS-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/media/static/css/estilos.css" />

</head>
	<body id="{% block idBody%}{% endblock %}">
		{% include 'shared/header.html' %}

	    {% block content %}404 - Conteúdo não encontrado{% endblock %}

	    {% include 'shared/footer.html' %}

	    <!--SCRIPTS-->
		<script type="text/javascript" src="/media/static/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/media/static/js/functions.js"></script>
	</body>
</html>