<footer class="global-footer">
	<div class="footer">
		<div class="footer-content">
			<img src="/media/static/img/logo_alterdata.svg" alt="Alterdata Software"/><br/>
			©1989 - 2019 - Alterdata Software - Direitos reservados
		</div>
	</div>
</footer>