<header class="global-header">
	<div class="header">
		<div class="header-content">
			<h1 class="header-content-logo">
				<a href="/" title="NF-Stock">
					<img src="/media/static/img/logo.svg" alt="NF-Stock"/>
				</a>
			</h1>
			<a href="javascript:void(0);" class="mobile header-content-mobileMenu btnMenu" title="Menu"><i class="fas fa-bars"></i></a>
			<ul class="header-content-menu">
				{% if user.is_authenticated %}
					<li class="header-content-menu-welcome">Seja bem vindo, <strong class="color">{{ user.nome|truncatewords:1|cut:"." }}</strong></li>
					<li class="ul-separator">/</li>
					<li><a href="/accounts/profile" title="Minha conta">Minha conta</a></li>
					<li class="ul-separator">/</li>
					<li><a href="/logout" title="Sair">Sair</a></li>
				{% else %}
					<li><a href="/cadastro" title="Cadastre-se">Cadastre-se</a></li>
					<li class="ul-separator">/</li>
					<li><a href="/login" title="Login">Login</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</header>