{% extends 'shared/base.html' %}
{% block idBody%}checkout-body{% endblock %}
{% block content %}
	<div class="global-form global-checkout">
		<div class="form-content checkout-content">
			<h2 class="form-content-title default-title">
				Assinatura
			</h2>
			<p class="form-content-description default-description">
				Selecione abaixo o plano o qual deseja contratar.
			</p>
			<form action="" method="post" class="checkout-box">
				{% csrf_token %}
				<div class="checkout-box-planos">
					{% for plano in planos %}
						<input type="radio" class="checkout-box-planos-item-select" name="plano" id="plano_{{plano.id}}"/>
						<label class="checkout-box-planos-item" for="plano_{{plano.id}}">
							<span class="checkout-box-planos-item-title box-title"><strong>{{plano.nome}}</strong></span>
							<span class="checkout-box-planos-item-description box-description">{{plano.descricao}}</span>
							<span class="checkout-box-planos-item-price">R$ {{plano.valor}}</span>
						</label>
					{% endfor %}
				</div>
				<input type="submit" value="Assinar" title="Assinar" class="checkout-box-button default-button"/>
			</form>
		</div>
	</div>
{% endblock %}