/*FOLHA DE ESTILO*/

/*Definições Gerais*/
*{box-sizing:border-box;}
*:after{content:"";clear:both;display:block;}
span:after, strong:after, p a:after{content:"";clear:none;display:inherit;}
body, html{
  font-family:"Roboto", "Arial", sans-serif;
  font-size:10px;
  color:#444;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,a,label,span,h1,h2,h3,h4,h5,input,select, option, footer, li, dt, dd{font-family:"Roboto", "Arial", sans-serif;color:#444;line-height:1.2em;font-size:1.6rem;letter-spacing: -0.025em;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400}
a,input[type="submit"] {transition:0.25s ease 0s;}
a:hover{color:rgba(112,0,1,1);text-decoration:none;}
.color{color:rgba(112,0,1,1)!important;}
.mobile{display:none;}
/*Inicio de Regras*/
body{
  max-width:100%;
  overflow-x:hidden;
}
.notrans {transition:none;}


@media only screen and (max-width: 989px), only screen and (max-device-width: 640px), only screen and (max-device-width: 480px), only screen and (max-device-width: 320px), only screen and (max-device-width: 600px), only screen and (max-device-width: 768px) {
	body {
		padding-top:120px;
	}
	.mobile {
		display: block;
	}
}

