.default{
	&-title {
		font-size: 3.6rem;
		margin-bottom: 17px;
		display: block;
	}
	&-description {
		line-height: 1.4em;
		margin-bottom: 17px;
		display: block;
		strong {
			font-size: inherit;
			font-weight: bold;
			color:inherit;
		}
	}
	&-button {
		border:2px solid rgba(112,0,1,1);
		background:transparent;
		font-size: 1.8rem;
		text-transform: uppercase;
		font-weight: 500;
		display: inline-block;
		padding: 12px 20px;
		color:rgba(112,0,1,1);
		outline:0 none;
		cursor: pointer;
		&:hover {
			color:#FFF;
			background:rgba(112,0,1,1);
		}
	}
}
.box {
	&-title strong {
		font-size: 2.6rem;
		word-spacing: 100vw;
		font-weight: 600;
		margin-bottom: 22px;
		line-height: 1.2em;
		text-transform: uppercase;
		display: block;
	}
	&-description {
		font-size: 1.8rem;
		line-height: 1.6em;
		margin-bottom: 22px;
		display: block;
	}
}
.input-box {
	text-align: left;
	label {
		font-size: 1.8rem;
		display: block;
		margin-bottom: 10px;
		color:#FFF;
	}
	input:not([type=submit]) {
		background:#FFF;
		color:#444;
		height: 42px;
		line-height: 40px;
		font-size: 1.6rem;
		padding:0 20px;
		border-radius:40px;
		width:100%;
		border:0 none;
		outline: 0 none;
		margin-bottom: 20px;
	}
}
.ul-separator {
	font-weight: bold;
	font-size: 1.8rem;
	vertical-align: bottom;
	margin:0 8px;
}
@media only screen and (max-width: 989px), only screen and (max-device-width: 640px), only screen and (max-device-width: 480px), only screen and (max-device-width: 320px), only screen and (max-device-width: 600px), only screen and (max-device-width: 768px) {
	.ul-separator {
		display: none!important;
	}
}