.global-form {
	background:#DFDFDF;
	.form-content {
		padding: 50px 20px;
		position: relative;
		max-width: 990px;
		width: 100%;
		margin: 0 auto;
		&-extraButton {
			margin-left: 20px;
		}
		form {
			background:#FFF;
			padding:20px;
			width:100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			ul:not(.errorlist) {
				width:~"calc(50% - 20px)";
				margin:0 10px 30px;
				text-align: left;
				align-self: center;
				li {
					color:rgba(112,0,1,1);
					font-size: 1.3rem;
					font-weight: bold;
					margin-bottom: 5px;
				}
				& + p {
					display: none;
				}
			}
			.errorlist {
				margin:0 10px 20px;
				text-align: center;
				li {
					color:rgba(112,0,1,1);
					font-size: 1.3rem;
					font-weight: bold;
					margin-bottom: 5px;
				}
			}
			p {
				width:~"calc(50% - 20px)";
				margin:0 10px 30px;
				text-align: left;
				label {
					font-size: 1.8rem;
					display: block;
					margin-bottom: 10px;
					color:#222;
				}
				input:not([type=submit]) {
					background:#EFEFEF;
					color:#444;
					height: 42px;
					line-height: 40px;
					font-size: 1.6rem;
					padding:0 20px;
					border-radius:40px;
					width:100%;
					border:0 none;
					outline: 0 none;
					margin-bottom: 20px;
					border:2px solid #444;
				}
				.helptext {
					color:rgba(112,0,1,1);
					font-size: 1.3rem;
					font-weight: bold;
				}
			}
			input[type="submit"] {
				border:2px solid rgba(112,0,1,1);
				background:transparent;
				font-size: 1.8rem;
				text-transform: uppercase;
				font-weight: 500;
				display: inline-block;
				padding: 12px 20px;
				color:rgba(112,0,1,1);
				outline:0 none;
				cursor: pointer;
				&:hover {
					color:#FFF;
					background:rgba(112,0,1,1);
				}
			}
		}
	}
}
@media only screen and (max-width: 989px), only screen and (max-device-width: 640px), only screen and (max-device-width: 480px), only screen and (max-device-width: 320px), only screen and (max-device-width: 600px), only screen and (max-device-width: 768px) {
	.global-form {
		.form-content {
			&-extraButton, input[type="submit"] {
				margin-left: 10px;
				margin-right: 10px;
			}
			form {
				ul:not(.errorlist) {
					width:~"calc(100% - 20px)";
					margin:0 10px 20px;
				}
				.errorlist {
					margin:0 10px 20px;
				}
				p {
					width:~"calc(100% - 20px)";
					margin:0 10px 20px;
					label {
						font-size: 1.8rem;
						display: block;
						margin-bottom: 10px;
						color:#222;
					}
					input:not([type=submit]) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}