.global-checkout {
	.checkout-content {
		padding: 30px 20px;
		position: relative;
		max-width: 990px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		.checkout-box {
			text-anchor: center;
			&-planos {
				display: flex;
				flex-wrap: wrap;
				width:~"calc(100% + 20px)";
				margin:0 -10px;
				&-item {
					margin:0 10px 20px;
					width:~"calc(33.3334% - 20px)";
					padding:40px 30px;
					border-radius: 20px;
					background: -moz-linear-gradient(45deg, rgba(112,0,1,0.82) 0%, rgba(112,0,1,0.82) 28%, rgba(112,0,1,0.92) 49%, rgba(112,0,1,1) 100%);
					background: -webkit-linear-gradient(45deg, rgba(112,0,1,0.82) 0%,rgba(112,0,1,0.82) 28%,rgba(112,0,1,0.92) 49%,rgba(112,0,1,1) 100%);
					background: linear-gradient(45deg, rgba(112,0,1,0.82) 0%,rgba(112,0,1,0.82) 28%,rgba(112,0,1,0.92) 49%,rgba(112,0,1,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1700001', endColorstr='#700001',GradientType=1 );
					filter:grayscale(1);
					transition:0.35s ease 0s;
					&-title strong, &-description {
						color:#FFF;
						font-weight: bold;
					}
					&-price {
						color:#FFF;
						font-weight: bold;
						font-size: 3.6rem;
					}
				}
				input {
					display: none;
				}
				input:checked + .checkout-box-planos-item {
					filter: grayscale(0);
				}
				&:after {
					display:none;
				}
			}
		}
	}
}
@media only screen and (max-width: 989px), only screen and (max-device-width: 640px), only screen and (max-device-width: 480px), only screen and (max-device-width: 320px), only screen and (max-device-width: 600px), only screen and (max-device-width: 768px) {
	.global-checkout {
		.checkout-content {
			.checkout-box {
				&-planos {
					&-item {
						width:~"calc(100% - 20px)";
					}
				}
			}
		}
	}
}