.global-header {
	background:#FFF;
	box-shadow: 0 0 17px 0 #000;
	position: relative;
	z-index: 1;
	.header {
		&-content {
			padding: 30px 20px;
			position: relative;
			max-width: 990px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			&:after {
				display:none;
			}
			&-menu {
				li {
					display: inline-block;
					font-size: 1.6rem;
					font-weight: 500;
					strong {
						font-size: inherit;
						color:inherit;
					}
					a{
						font-size: 1.6rem;
						font-weight: 500;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 989px), only screen and (max-device-width: 640px), only screen and (max-device-width: 480px), only screen and (max-device-width: 320px), only screen and (max-device-width: 600px), only screen and (max-device-width: 768px) {
	.global-header {
		position: fixed;
		top:0;
		left:0;
		width:100%;
		.header {
			&-content {
				&-mobileMenu {
					font-size: 3.2rem;
					&.active {
						color:#700001;
					}
				}
				&-menu {
					position: absolute;
					top:100%;
					left: 0;
					width:100%;
					background: rgba(112,0,1,1);
					padding:0 20px;
					box-shadow: 0 4.5px 12px 0 #000;
					text-align: center;
					max-height: 0;
					overflow: hidden;
					transition:0.45s ease-out 0s;
					&-welcome {
						margin-bottom: 15px;
						padding-bottom:15px;
						border-bottom:1px solid #FFF;
						strong {
							color:#FFF!important;
						}
					}
					&.active {
						max-height: ~"calc(100vh - 121px)";
						padding:20px;
						overflow: auto;
						transition:0.45s ease-in 0s;
					}
					li {
						display: block;
						font-size: 2.2rem;
						color:#FFF;
						text-transform: uppercase;
						&:not(:last-child) {
							margin-bottom: 15px;
						}
						a{
							font-size: 2.2rem;
							color:#FFF;
							&:hover {
								color:#FFF;
							}
						}
					}
				}
			}
		}
	}
}