.global-home {
	&-start {
		max-height: ~"calc(100vh - 121px)";
		height: 820px;
		background:url(../img/home-start-bg.jpg) no-repeat scroll center top transparent / cover;
		.home-start {
			height: 100%;
			padding: 0 20px;
			position: relative;
			max-width: 990px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			&-box {
				box-shadow: 0 0 30px 0 rgba(112,0,1,0.82);
				background:rgba(112,0,1,0.82);
				padding:20px 30px;
				max-width: 480px;
				width: 100%;
				&-title, &-description{
					color:#FFF;
				}
				&-call {
					margin-bottom: 17px;
					strong {
						color:#FFF;
						font-weight: bold;
						text-transform: uppercase;
						font-size: 1.6rem;
					}
				}
				&-button {
					border-color:#FFF;
					color:#FFF;
					&:hover {
						color:rgba(112,0,1,1);
						background:#FFF;
					}
				}
			}
		}
	}
	&-main {
		.home-main {
			padding: 30px 20px;
			position: relative;
			max-width: 990px;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			&-planos {
				&-call {
					strong {
						font-size: 1.8rem;
					}
					margin-bottom: 17px;
				}
				&-box {
					display: flex;
					flex-wrap: wrap;
					width:~"calc(100% + 20px)";
					margin:40px -10px 0;
					&-item {
						margin:0 10px 20px;
						width:~"calc(33.3334% - 20px)";
						padding:40px 30px;
						border-radius: 20px;
						background: -moz-linear-gradient(45deg, rgba(112,0,1,0.82) 0%, rgba(112,0,1,0.82) 28%, rgba(112,0,1,0.92) 49%, rgba(112,0,1,1) 100%);
						background: -webkit-linear-gradient(45deg, rgba(112,0,1,0.82) 0%,rgba(112,0,1,0.82) 28%,rgba(112,0,1,0.92) 49%,rgba(112,0,1,1) 100%);
						background: linear-gradient(45deg, rgba(112,0,1,0.82) 0%,rgba(112,0,1,0.82) 28%,rgba(112,0,1,0.92) 49%,rgba(112,0,1,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1700001', endColorstr='#700001',GradientType=1 );
						&-title strong, &-description {
							color:#FFF;
							font-weight: bold;
						}
						&-price {
							color:#FFF;
							font-weight: bold;
							font-size: 3.6rem;
						}
					}
					&:after {
						display:none;
					}
				}
			}
		}
	}
	&-call {
		background:url(../img/call-bg.jpg) no-repeat scroll center top transparent / cover;
		min-height: 355px;
		.home-call {
			height: 100%;
			padding: 30px 20px;
			position: relative;
			max-width: 990px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			&:after {
				display:none;
			}
			&-left {
				max-width: 420px;
				margin:0 20px 0 0;
			}
			&-right {
				height: 100%;
				flex:1;
				padding:30px 20px;
				border-radius: 20px;
				max-width: 360px;
				background: -moz-linear-gradient(45deg, rgba(112,0,1,0.82) 0%, rgba(112,0,1,0.82) 28%, rgba(112,0,1,0.92) 49%, rgba(112,0,1,1) 100%);
				background: -webkit-linear-gradient(45deg, rgba(112,0,1,0.82) 0%,rgba(112,0,1,0.82) 28%,rgba(112,0,1,0.92) 49%,rgba(112,0,1,1) 100%);
				background: linear-gradient(45deg, rgba(112,0,1,0.82) 0%,rgba(112,0,1,0.82) 28%,rgba(112,0,1,0.92) 49%,rgba(112,0,1,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1700001', endColorstr='#700001',GradientType=1 );
			}
			&-form {
				text-align: center;
				&-button {
					border-color:#FFF;
					color:#FFF;
					&:hover {
						color:rgba(112,0,1,1);
						background:#FFF;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 989px), only screen and (max-device-width: 640px), only screen and (max-device-width: 480px), only screen and (max-device-width: 320px), only screen and (max-device-width: 600px), only screen and (max-device-width: 768px) {
	.global-home {
		&-main {
			.home-main {
				&-planos {
					&-box {
						&-item {
							width:~"calc(100% - 20px)";
						}
					}
				}
			}
		}
	}
}