.global-profile {
	background:#DFDFDF;
	.profile-content {
		padding: 50px 20px;
		position: relative;
		max-width: 990px;
		width: 100%;
		margin: 0 auto;
		&-box {
			background:#FFF;
			padding:20px;
			width:100%;
			dl:not(:last-child) {
				margin-bottom: 40px; 
			}
		}
	}
}