<p>Uma requisição para atendimento do sistema NF-Stock foi feita pelo site.</p>
<br/>
<p><b>Dados do requirente</b></p>
<p>
	<b>Nome:</b> {{ contato.nome }}<br/>
	<b>Telefone:</b> {{ contato.telefone }}
</p>