{% extends "shared/base.html" %}
{% block idBody%}login-body{% endblock %}
{% block content %}
	<div class="global-form global-login">
		<div class="form-content login-content">
			<h2 class="form-content-title default-title">
				Entrar
			</h2>
			<p class="form-content-description default-description">
				Acesse sua conta.
			</p>
			<form action="" method="post">
			    {% csrf_token %}
			    {{ form.as_p }}
			    <input type="submit" value="login" />
			    <a href="{% url "register" %}" title="Cadastre-se" class="default-button form-content-extraButton">Cadastro</a>
			</form>
		</div>
	</div>

{% endblock %}