{% extends 'shared/base.html' %}
{% block idBody%}profile-body{% endblock %}
{% block content %}
	<div class="global-profile">
		<div class="profile-content">
			<h2 class="profile-content-title default-title">
				Perfíl
			</h2>
			<p class="profile-content-description default-description">
				Confira suas informações cadastrais abaixo.
			</p>
			<div class="profile-content-box">
				<dl class="profile-content-box-infos">
					<dt class="profile-content-box-title default-title">Informações do Usuário</dt>
					<dd class="profile-content-box-item default-description"><strong>Nome:</strong> {{ user.nome }}</dd>
					<dd class="profile-content-box-item default-description"><strong>Empresa:</strong> {{ user.empresa }}</dd>
					<dd class="profile-content-box-item default-description"><strong>E-Mail:</strong> {{ user.email }}</dd>
					<dd class="profile-content-box-item default-description"><strong>Telefone:</strong> {{ user.telefone }}</dd>
				</dl>
				<dl class="profile-content-box-planos">
					<dt class="profile-content-box-title default-title">Informações do Plano</dt>
					{% if user.plano %}
						<dd class="profile-content-box-item default-description"><strong>Plano:</strong> {{ user.plano.nome }}</dd>
						<dd class="profile-content-box-item default-description"><strong>Descrição:</strong> {{ user.plano.descricao }}</dd>
						<dd class="profile-content-box-item default-description"><strong>Valor:</strong> {{ user.plano.valor }}</dd>
					{% else %}
						<dd class="profile-content-box-item default-description">Nenhum plano no momento.</dd>
					{% endif %}
				</dl>
			</div>
		</div>
	</div>
{% endblock %}