{% extends "shared/base.html" %}
{% block idBody%}cadastro-body{% endblock %}
{% block content %}
	<div class="global-form global-cadastro">
		<div class="form-content cadastro-content">
			<h2 class="form-content-title default-title">
				Cadastre-se
			</h2>
			<p class="form-content-description default-description">
				Preencha o formulário abaixo para realizar seu cadastro.
			</p>
			<form action="" method="post">
			    {% csrf_token %}
			    {{ form.as_p }}
			    <input type="submit" value="register" /><br />
			    {% if messages %}
			        <ul>
			            {% for message in messages %}
			            <li>{{ message }}</li>
			            {% endfor %}
			        </ul>
			    {% endif %}
			</form>

		</div>
	</div>
{% endblock %}